@import "tailwindcss";

body {
  font-family: "general", sans-serif;
  width: 100dvw;
  background-color: #fcfcfe; /*dfdff0*/
  overflow-x: hidden;
}

@layer base {
  @font-face {
    font-family: "general";
    src: url("/fonts/general.woff2") format("woff2");
  }

  @font-face {
    font-family: "robert-medium";
    src: url("/fonts/robert-medium.woff2") format("woff2");
  }

  @font-face {
    font-family: "robert-regular";
    src: url("/fonts/robert-regular.woff2") format("woff2");
  }

  @font-face {
    font-family: "manifold-regular";
    src: url("/fonts/manifold-regular.otf") format("opentype");
  }

  @font-face {
    font-family: "manifold-bold";
    src: url("/fonts/manifold-bold.otf") format("opentype");
  }

  @font-face {
    font-family: "manifold-thin";
    src: url("/fonts/manifold-thin.otf") format("opentype");
  }

  @font-face {
    font-family: "microgramma-bold";
    src: url("/fonts/microgramma-bold.otf") format("opentype");
  }

  @font-face {
    font-family: "microgramma";
    src: url("/fonts/microgramma-normal.ttf") format("truetype");
  }

  @font-face {
    font-family: "k-compress";
    src: url("/fonts/k-compress.otf") format("opentype");
  }
}

@theme {
  --font-general: "general", "sans-serif";
  --font-robert-med: "robert-medium", "sans-serif";
  --font-robert-reg: "robert-regular", "sans-serif";
  --font-manifold-reg: "manifold-regular", "sans-serif";
  --font-manifold-bold: "manifold-bold", "sans-serif";
  --font-manifold-thin: "manifold-thin", "sans-serif";
  --font-microgramma-bold: "microgramma-bold", "sans-serif";
  --font-microgramma: "microgramma", "sans-serif";
  --font-k-compress: "k-compress", "sans-serif";

  --color-blue-50: #dfdff0;
  --color-blue-75: #dfdff2;
  --color-blue-100: #f0f2fa;
  --color-blue-200: #010101;
  --color-blue-300: #4fb7dd;
  --color-violet-300: #5724ff;
  --color-yellow-100: #8e983f;
  --color-yellow-300: #edff66;
  --color-lumon-pink: #f8aab6;
  --color-lumon-red: #a25056;
  --color-lumon-lime: #8be076;
  --color-lumon-green: #00957e;
  --color-lumon-lightblue: #4cb4e7;
  --color-lumon-blue: #235ba8;
  --color-custom-dark-orange: #e53011;
  --color-manifold-green: #006152;
  --color-manifold-lightgreen: #d7f7cf;

  /* colour palette 70s corporate basic */
  --color-70s-green-50: #d6e0e2;
  --color-70s-green-100: #98b6b0;
  --color-70s-green-200: #7da17e;
  --color-70s-brunswick-green: #163f38;
  --color-70s-white-0: #f7f6f9;

  /* colour palette 70s corporate basic 2 */
  --color-s-darkgreen: #162d27;
  --color-s-hookersgreen: #577168;
  --color-s-asparagus: #769575;
  --color-s-white: #fcfcfe;
  --color-s-platinum: #ced8da;
  --color-s-cadetgray: #a5b2b8;
  --color-s-cadetgray2: #8b9ea2;
  --color-s-slategray: #718995;
  --color-s-charcoal: #293b47;
  --color-s-gunmetal: #122023;

  /* colour palette 70s corporate extended */
  --color-s-blue-100: #2f4658;
  --color-s-blue-200: #0c2132;
  --color-s-green-300: #103222;
  --color-s-green-200: #2c5f3e;
  --color-s-green-100: #6fa979;
  --color-s-green-50: #9ebba7;
  --color-s-white-50: #eef8f9;
  --color-s-brown-100: #aa7c6c;
  --color-s-brown-200: #64483c;
  --color-s-brown-300: #36231c;
}

@layer utilities {
  .mask-clip-path {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .mask-clip-path2 {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .absolute-center {
    @apply absolute top-1/2 left-1/2 translate-x-[-50%] translate-y-[-50%];
  }

  .hero-heading {
    @apply uppercase font-microgramma font-black text-3xl sm:right-10 sm:text-7xl md:text-9xl lg:text-[12rem] text-s-white-50;
  }

  .flex-center {
    @apply flex justify-center items-center;
  }

  .about-subtext {
    @apply absolute bottom-[-80dvh] left-1/2 w-full max-w-96 -translate-x-1/2 text-center font-microgramma text-lg md:max-w-[34rem] text-s-blue-200;
  }

  .about-image {
    @apply absolute left-1/2 top-0 z-20 h-[60vh] w-96 origin-center -translate-x-1/2 overflow-hidden rounded-3xl md:w-[30vw];
  }

  .transition-image {
    @apply absolute left-1/2 z-20 h-[60vh] w-96 origin-center -translate-x-1/2 overflow-hidden rounded-3xl md:w-[30vw];
  }

  .animated-title {
    @apply flex flex-col gap-1 text-7xl uppercase leading-[.8] text-white sm:px-32 md:text-[6rem] /*tracking-wider*/;
  }

  .animated-word {
    @apply font-microgramma font-black opacity-0;
    transform: translate3d(10px, 51px, -60px) rotateY(60deg) rotateX(-40deg);
    transform-origin: 50% 50% -150px !important;
    will-change: opacity, transform;
  }

  .nav-hover-btn {
    @apply relative ms-10 font-microgramma text-sm uppercase text-blue-50 after:absolute after:-bottom-0.5 after:left-0 after:h-[2px] after:w-full after:origin-bottom-right after:scale-x-0 after:bg-blue-75 after:transition-transform after:duration-300 after:ease-[cubic-bezier(0.65_0.05_0.36_1)] hover:after:origin-bottom-left hover:after:scale-x-100 dark:after:bg-white cursor-pointer;
  }

  .floating-nav {
    @apply bg-s-charcoal rounded-lg border;
  }

  .border-hsla {
    @apply border border-white/20;
  }

  .bento-title {
    @apply uppercase md:text-6xl text-4xl font-black font-manifold-reg;
  }

  .bento-tilt_1 {
    @apply relative col-span-2 md:col-span-1 overflow-hidden rounded-md transition-transform duration-300 ease-out;
  }

  .bento-tilt_2 {
    @apply relative col-span-1 row-span-1 overflow-hidden rounded-md transition-transform duration-300 ease-out;
  }

  .story-img-container {
    @apply relative md:h-dvh h-[90vh] w-full;
    filter: url("#flt_tag");
  }

  .story-img-mask {
    @apply absolute left-0 top-0 size-full overflow-hidden md:left-[20%] md:top-[-10%] md:size-4/5;
    clip-path: polygon(4% 0, 83% 21%, 100% 73%, 0% 100%);
  }

  .story-img-content {
    @apply absolute w-full md:h-dvh h-[50dvh] opacity-100 left-10 top-16 md:left-0 md:top-10 lg:left-[-300px] lg:top-[-100px];
    transform: translate3d(0, 0, 0) rotateX(0) rotateY(0) rotateZ(0) scale(1);
  }
}

.indicator-line {
  @apply h-1 w-px rounded-full bg-white transition-all duration-200 ease-in-out;
}

.indicator-line.active {
  animation: indicator-line 0.5s ease infinite;
  animation-delay: calc(var(--animation-order) * 0.1s);
}

@keyframes indicator-line {
  0% {
    height: 4px;
    transform: translateY(-0px);
  }
  50% {
    height: 16px;
    transform: translateY(-4px);
  }
  100% {
    height: 4px;
    transform: translateY(-0px);
  }
}

/* From Uiverse.io by G4b413l */
/* https://uiverse.io/G4b413l/tidy-walrus-92 */
.three-body {
  --uib-size: 35px;
  --uib-speed: 0.8s;
  --uib-color: #2f4658;
  position: relative;
  display: inline-block;
  height: var(--uib-size);
  width: var(--uib-size);
  animation: spin78236 calc(var(--uib-speed) * 2.5) infinite linear;
}

.three-body__dot {
  position: absolute;
  height: 100%;
  width: 30%;
}

.three-body__dot:after {
  content: "";
  position: absolute;
  height: 0%;
  width: 100%;
  padding-bottom: 100%;
  background-color: var(--uib-color);
  border-radius: 50%;
}

.three-body__dot:nth-child(1) {
  bottom: 5%;
  left: 0;
  transform: rotate(60deg);
  transform-origin: 50% 85%;
}

.three-body__dot:nth-child(1)::after {
  bottom: 0;
  left: 0;
  animation: wobble1 var(--uib-speed) infinite ease-in-out;
  animation-delay: calc(var(--uib-speed) * -0.3);
}

.three-body__dot:nth-child(2) {
  bottom: 5%;
  right: 0;
  transform: rotate(-60deg);
  transform-origin: 50% 85%;
}

.three-body__dot:nth-child(2)::after {
  bottom: 0;
  left: 0;
  animation: wobble1 var(--uib-speed) infinite calc(var(--uib-speed) * -0.15)
    ease-in-out;
}

.three-body__dot:nth-child(3) {
  bottom: -5%;
  left: 0;
  transform: translateX(116.666%);
}

.three-body__dot:nth-child(3)::after {
  top: 0;
  left: 0;
  animation: wobble2 var(--uib-speed) infinite ease-in-out;
}

@keyframes spin78236 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes wobble1 {
  0%,
  100% {
    transform: translateY(0%) scale(1);
    opacity: 1;
  }

  50% {
    transform: translateY(-66%) scale(0.65);
    opacity: 0.8;
  }
}

@keyframes wobble2 {
  0%,
  100% {
    transform: translateY(0%) scale(1);
    opacity: 1;
  }

  50% {
    transform: translateY(66%) scale(0.65);
    opacity: 0.8;
  }
}
